:root {
    --main-color: #009688;
    --main-padding: 10px;
}

div {
    margin: 10px;
    padding: var(--main-padding, 10px);
    color: var(--main-color, red);
    border: 2px solid var(--main-color, black);
}
