.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    margin: auto;
    gap: 10px 10px;
    grid-template: 1fr auto / auto 1fr 1fr auto;
}


.grid div {
    background-color: #403f3f;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}