div{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-top: 20px;
    /*background-color: blueviolet;*/
    /*background-color: #8a2be2;*/
    /*background-color: HSL(271, 67%, 57%);*/
    color: white;
}

.assign-1-shape-1{
    background-color: rgb(138,43,226);

}

.assign-1-shape-2{
    background-color: rgba(138,43,226,50%);
}

.assign-1-shape-3{
    background-color: rgba(138,43,226,10%);
}