div {
    width: 100px;
    height: 100px;
    margin: 20px auto auto;
    transform: translateY(50%);
    background-color: #efefef;
    border: 1px solid transparent;
    border-top-left-radius: 10px 15px;
    border-bottom-right-radius: 10px 15px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 0 0 7px 1px #000 inset;
}