.class1{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.class2{
    font-family: Cairo, sans-serif;
    font-weight: 700;
}

.class3{
    font-family: Jomhuria, sans-serif;
    font-weight: 400;

}