p{
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    position: relative;
    background-color: #eee;
    font-weight: bold;
    border-left: 5px solid #e91e63;
}

p::before{
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 12px;
    left: -95px;
    content: attr(data-person);
    background-color: #eee;
}

p::after{
    width: 0;
    height: 0;
    float: left;
    position: absolute;
    top: 14px;
    left: -35px;
    content: "";
    border: 15px solid;
    border-color: transparent #e91e63 transparent transparent;
}