* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
}

.container div {
    background-color: #eee;
    padding: 20px;
    margin: 10px auto;
    text-align: center;

}

@media (max-width: 767px) {
    .container div {
        width: 100%;
    }

}

@media (min-width: 768px) {
    .container div {
        width: 100%;

    }
}

@media (min-width: 992px) {
    .container div {
        margin: 10px;
        color: red;
        font-weight: bold;
    }

    .one {
        width: calc(100% - 20px) !important;
    }

    .two, .three, .four {
        width: calc((100% / 3) - 20px) !important;
    }
}

@media (min-width: 1200px) {
    .container div {
        margin: 10px;
        width: calc(25% - 20px);
        color: green;
    }

    .one, .four {
        width: calc(100% - 20px) !important;
    }

    .two, .three {
        width: calc((100% / 2) - 20px) !important;
    }
}